<div class="banner"><h1>Ask your coach anything</h1></div>
<div class="my-form" style="margin: 2em 1em;">
  <form class="ask-form" action="/answer" method="get">
    <input class="ask-input" type="text" value="<%= params[:question] %>" name="question" placeholder="Ask your quesiton.">
    <input class="ask-btn" type="submit" value="Ask The Coach">
  </form>
</div>
